version: '3.8'

name: billie-platform

services:
  billie-crm:
    build:
      context: .
      dockerfile: Dockerfile.dev
      args:
        - GITHUB_TOKEN=${GITHUB_TOKEN}
    ports:
      - '3000:3000'
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app/event-processor/src
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  node_modules:
